:root {
  --grey: #f3f4f6;
  --white: #ffffff;
  --primary: #0e374f;
  --primary: rgba(120, 14, 14);
  --secondary: rgba(120, 14, 14, .07);
}

body {
  background-color: var(--grey);
  padding: 20px;
  display: flex;
}

#root {
  display: flex;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resume-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--white);
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: block;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.card h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 20px;
  color: var(--primary);
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid var(--grey);
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
}

.card button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  display: inline-block;
  float: right;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary);
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;
}

.resume h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
}